body,
[data-apos-refreshable],
main {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  font-family: var(--gg-font-base);
  color: var(--gg-color-resin);
  background-color: var(--gg-color-smoke);
}

.container {
  margin: 0 auto;
  max-width: var(--gg-container-width-lg);
}

.gg-gradient {
  background: linear-gradient(45deg, var(--gg-color-clarity), var(--gg-color-shatter), var(--gg-color-terpine), var(--gg-color-venture));
	background-size: 400% 400%;
	animation: gradientAnimation 15s ease infinite;
}

.gg-column-layout {
  display: flex;
  flex-direction: column;
  gap: var(--gg-gap);
}

.gg-hero-fullscreen {
  position: absolute;
  z-index: var(--gg-really-high);
  @extend .gg-column-layout;
  padding: var(--gg-size-sm);
  color: var(--gg-color-white);
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  &:before, &:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background-color: var(--gg-color-clarity);
  }

  &:after {
    opacity: 0.5;
    @extend .gg-gradient;
  }

  > div {
    text-align: center;
    max-width: var(--gg-container-width-md);
    gap: var(--gg-size-md);
  }
}

.gg-rich-text {
  @extend .gg-column-layout;
}

.button {
  --gg-button-size: var(--gg-size-md);
  z-index: var(--gg-lucid);
  position: relative;
  background-color: transparent;
  height: calc(var(--gg-button-size) * 1.666);
  font-family: var(--gg-font-script);
  font-size: var(--gg-button-size);
  padding: 0 var(--gg-button-size);
  font-weight: normal;
  border: none;
  outline: none;
  color: var(--gg-color-white);
  cursor: pointer;

  &, &::before {
    transition: var(--gg-transition-default);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--gg-faded);
    border-radius: var(--gg-radius);
    background-color: var(--gg-button-color, var(--gg-color-terpine));
    box-shadow: var(--gg-shadow-heavy);
    border-radius: calc(var(--gg-really-high) * 1px);
  }

  &:hover {
    &::before {
      filter: brightness(1.1);
      box-shadow: var(--gg-shadow-light);
    }
  }
}

.padded-widget {
  padding: var(--gg-size-lg);

  @media only screen and (max-width: 600px) {
    padding: var(--gg-size-md) var(--gg-gap);
  }

}

@keyframes gradientAnimation {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}